* {
    margin: 0;
}

.containeris {
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}

.container1 {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 2px solid black;
}

.container1 > * {
    flex-grow: 10;
}

.virsus1:nth-child(1) {
    flex-grow: 1;
}

.pavVirsus1 {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.pavNuotr {
    height: 70px;
    width: 110px;
}

.pavVirsus1:hover {
    color: green;
}



.container2 {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 110px;
}

.container2 > * {
    margin-left: 30px;  
}

.apacia {
    height: 200px;
    width: 400px;
    object-fit: cover;
}


